.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 5rem 0;

    display: flex;
}

/* History */
.history {
    margin-left: 50px;
    min-width: 170px;
}

.history__title {
    margin-bottom: 20px;
}

.history__item {
    padding: 15px 5px;
    margin-top: 3px;

    background: #fcf8e3;
    color: #8e7442;
}

/* Type mode */
.mode__type {
    margin-bottom: 16px;

    display: flex;
    align-items: center;
}

.mode__type__select {
    padding: 5px;
    min-width: 130px;

    margin-right: 15px;


    background-color: #fff;
    cursor: pointer;
}

.mode__type__btn {
    padding: 4px 15px;
    min-width: 100px;

    cursor: pointer;

    background-color: #0075d8;
    border: 0;
    outline: 0;
    border-radius: 3px;

    color: #fff;
    text-transform: uppercase;
}

.mode__type__btn:disabled {
    cursor: auto;
    background-color: dimgray !important;
}

.mode__type__btn:hover {
    background-color: #1659cd;
}

/* Squares table */
.squares__table {
    display: grid;

    border-top: 1px solid black;
    border-left: 1px solid black;
}

/* Square */
.square {
    width: 50px;
    height: 50px;

    border-right: 1px solid black;
    border-bottom: 1px solid black;

    cursor: pointer;
}

.square:hover {
    background: #04a8f4;
}